<!--
  Generated template for the StreamerDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{(channel|async)?.display_name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card *ngIf="isOnline" class="streamer-info">
    <img src="{{(stream|async)?.stream.preview.large}}">
    <!-- <ion-fab top>
      <img src="{{(channel|async)?.logo}}">
    </ion-fab> -->
    <img class="channel-logo" src="{{(channel|async)?.logo}}">
    <ion-card-content>
      <ion-card-title>{{(channel|async)?.display_name}} is live</ion-card-title>
      <p>{{(channel|async)?.status}}</p>
    </ion-card-content>
    <ion-item>
        <ion-icon name="game-controller-b" item-start large></ion-icon>
        <h2>Game</h2>
        <p>{{(channel|async)?.game}}</p>
      </ion-item>

      <ion-item>
          <ion-icon name="eye" item-start large></ion-icon>
          <h2>Viewers</h2>
          <p>{{(stream|async)?.stream.viewers}}</p>
      </ion-item>
  </ion-card>

  <ion-card *ngIf="!isOnline" class="streamer-info">
      <img src="{{(channel|async)?.video_banner}}">
      <img class="channel-logo" src="{{(channel|async)?.logo}}">
      <ion-card-content>
        <ion-card-title>{{(channel|async)?.display_name}} is offline</ion-card-title>
        <p>{{(channel|async)?.status}}</p>
      </ion-card-content>
    </ion-card>
  <a *ngIf="isOnline" data-href="{{(channel|async)?.url}}" ion-button full>Watch now!</a>
</ion-content>
