page-streamer-detail {
	.streamer-info ion-card-content{
		
	}

	.streamer-info ion-item{
		
	}

	.streamer-info .channel-logo{
		width: 75px;
		position: absolute;
		margin-top: -60px;
		margin-left: auto;
		margin-right: auto;
		left: 0px;
		right: 0px;
	}
}
