<!--
  Generated template for the StreamersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Twitch Alert</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="goToAddStreamer()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="!noStreamers">
    <ion-list>
      <ion-list-header>Online <strong class="streamer-count">{{streamersOnline.length}}</strong></ion-list-header>
      <ion-item-sliding *ngFor="let streamer of streamersOnline; let i = index;">
        <button ion-item (click)="goToStreamerDetail(streamer.display_name)">
          <ion-thumbnail item-start>
            <img src={{streamer.logo}}>
          </ion-thumbnail>
          <h2>{{streamer.display_name}}</h2>
          <p>{{streamer.status}}</p>
        </button>
        <ion-item-options side="right">
            <button ion-button color="danger" (click)="removeStreamer(streamer.display_name, i, 'online')">
              <ion-icon name="trash"></ion-icon>
              Remove 
            </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-list>
      <ion-list-header>Offline <strong class="streamer-count">{{streamersOffline.length}}</strong></ion-list-header>
      <ion-item-sliding *ngFor="let streamer of streamersOffline; let i = index;">
        <button ion-item (click)="goToStreamerDetail(streamer.display_name)">
          <ion-thumbnail item-start>
            <img src={{streamer.logo}}>
          </ion-thumbnail>
          <h2>{{streamer.display_name}}</h2>
          <p>{{streamer.status}}</p>
        </button>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="removeStreamer(streamer.display_name, i, 'offline')">
            <ion-icon name="trash"></ion-icon>
            Remove 
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  <div *ngIf="noStreamers">
    <ion-card>
      <ion-card-content>
        No streamers found. Press the plus sign(+) to add a streamer.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
