<!--
  Generated template for the AddStreamerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Add streamer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-input placeholder="Add a streamer" (mouseup)="searchChannels()" (keyup)="searchChannels()" [(ngModel)]="inputStreamer" clearInput></ion-input>
  </ion-item>
  <ion-list>
    <button ion-item *ngFor="let channel of (foundChannels|async)?.channels" (click)="changeInput(channel.display_name)">
      <img class="channel-logo" src="{{channel.logo}}" item-start>
      <p>{{channel.display_name}}</p>
    </button>
  </ion-list>
  <button ion-button full (click)="addStreamer()"><ion-icon name="add"></ion-icon>&nbsp;Add</button>
</ion-content>
